.loading{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;
}

.card .card-image img {
    display: block;
    border-radius: 50%;
    position: relative;
    left: 82px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    padding: 10px 10px 10px 10px;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.username{
    position: relative;
    text-overflow:ellipsis;
    white-space: nowrap; 
    overflow: hidden; 
    width: 288.828px;
    padding-left: 10px;
    font-family: Lato Regular;
    font-size: large;
    text-align: center;
}

.card .card-content p{
    color: #777;
    text-overflow:ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.card .card-content{
    height: 60px;
}

.card .card-action{
    /*padding: 12px 0px 0.2px 18px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}


